body{
    background: #f8f9fa;
    font-family: Segoe UI, sans-serif;
}
.main-navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.navbar-scrolled {
  background-color: white !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-navbar .nav-link,
.main-navbar .navbar-brand {
  color: white !important;
  transition: color 0.3s ease;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-brand {
  color: #333 !important;
}
.nav-link-clean {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer
}
.nav-link-clean:hover {
  color: #00bf77;
  text-decoration: none;
}
.login-background {
  background: linear-gradient(120deg, #4e54c8, #8f94fb);
  min-height: 100vh;
}

.login-card {
  background: #ffffffcc;
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
}

.login-card input:focus {
  box-shadow: 0 0 0 0.2rem rgba(78, 84, 200, 0.25);
  border-color: #4e54c8;
}

